body{
    color : white;
    
}
.grid{
    display: grid;
    grid-template-columns: 30% 70%;
    height : 90vh;
}

h1{
    font-weight: 900;
    color : rgb(135, 235, 255);

}

h2{
    font-size: 30px;
    font-weight: 100;
    color: aquamarine;
}
h3{
    
    color: rgb(148, 245, 212);
}

.details{
    margin-top: 2rem;
    border-right: 1px solid grey;
}

.img{
    flex : 20%;
}

.comments{
    max-height: 80%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.comments::-webkit-scrollbar { 
    display: none;
}

.icon{
    width: 40px;
    height: 20px;
}
.icon:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.description{
    height: 120px;
    line-height: 1.8rem;
    letter-spacing: 2px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.description::-webkit-scrollbar { 
    display: none;
}

.in{
    display: flex;
    justify-content: center;
}