body{
    color : white;
}
.grid{
    display: grid;
    grid-template-columns: 30% 70%;
    height : 90vh;
}

.details{
    margin-top: 2rem;
    border-right: 1px solid grey;
}

.img{
    flex : 20%;
}

.comments{
    max-height: 80%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.comments::-webkit-scrollbar { 
    display: none;
}