body{
    color : white;
    
}
.grid{
    display: grid;
    grid-template-columns: 30% 70%;
    height : 90vh;
}

h1{
    font-weight: 900;
    color : rgb(135, 235, 255);

}

h2{
    font-size: 28px;
    font-weight: 100;
    color: aquamarine;
}
h3{
    font-size: 22px;
    font-weight: 100;
    color: rgb(148, 245, 212);
}

.details{
    margin-top: 2rem;
    border-right: 1px solid grey;
    padding: 5px;
}

.img{
    flex : 20%;
}

.comments{
    height: 500px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.comments::-webkit-scrollbar { 
    display: none;
}

.icon{
    width: 40px;
    height: 20px;
}
.icon:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.description{
    height: 120px;
    line-height: 1.8rem;
    letter-spacing: 2px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.description::-webkit-scrollbar { 
    display: none;
}

.in{
    display: flex;
    justify-content: center;
}

.addcomment{
    margin-bottom: auto;
    margin-left: 7px;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    width : 150px;
    height: 50px;
    border-radius: 30px;
    justify-content: center;
}

.addcomment:hover{
    background-color: rgb(198, 254, 113);
}

.ci{
    margin-left: 5px;
    width: fit-content;
}